<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Valorant</title>
    <link
      rel="shortcut icon"
      href="../media/iconoValo.png"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/stats.css" />
  </head>
  <body>
    <div class="d-flex flex-column min-vh-100">
      <header
        class="header bg-grisPrincipal d-flex justify-content-between align-items-center"
      >
        <a href="../../index.html"
          ><img class="navIcon" src="../media/logoValo.png" alt=""
        /></a>
        <nav class="navbar navbar-expand-lg bg-grisPrincipal">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span
                ><img class="navIcon" src="../media/navIcon.webp" alt=""
              /></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav textNav ">
                <li class="nav-item">
                  <a class="nav-link" href="../../index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./agents.html">Agents</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./weapons.html">Weapons</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./maps.html">Maps</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Stats</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <main id="app" class="flex-grow-1 bg-image p-4">
        <div class="d-flex flex-column justify-content-between gap-5">

          <table class="table table-dark table-striped-columns">
            <thead>
              <tr class="align-middle text-center font-valorant">
                <th scope="col" class="col-3">Map with most callouts</th>
                <th scope="col" class="col-2">Number of callouts</th>
                <th scope="col" class="col-4">Image</th>
              </tr>
            </thead>
            
            <tbody>
                <tr class="align-middle text-center" v-if="maxCalloutMap && maxCalloutMap.displayName">
                  <td class="font-valorant">{{ maxCalloutMap.displayName }}</td>
                <td>{{ maxCalloutMap.callouts.length }}</td>
                <td>
                  <div class ="img-stats"> 
                    <img class ="img-fluid" :src="maxCalloutMap.splash" alt="Map image" />
                  </div>
                </td>
              </tr>

              <thead>
                <tr class="align-middle text-center font-valorant">
                  <th scope="col" class="col-4">Maps with least callouts</th>
                  <th scope="col" class="col-4">Number of callouts</th>
                  <th scope="col" class="col-4">Image</th>
                </tr>
              </thead>
              
              <tr class="align-middle text-center" v-if="minCalloutMap && minCalloutMap.displayName">
                <td class="font-valorant">{{ minCalloutMap.displayName }}</td>
                <td>{{ minCalloutMap.callouts.length }}</td>
                <td>
                  <div class ="img-stats"> 
                    <img class ="img-fluid" :src="minCalloutMap.splash" alt="Map image" />
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        
          <table class="table table-responsive table-dark table-striped-columns">
            
            <thead>
              <tr class="align-middle text-center font-valorant">
                <th scope="col" class="col-3">Weapon with most fire rate</th>
                <th scope="col" class="col-2">Fire rate</th>
                <th scope="col" class="col-3">Weapon Category</th>
                <th scope="col" class="col-4">Image</th>
              </tr>
            </thead>
            <tbody>
              <tr class="align-middle text-center" v-if="maxFireRate && maxFireRate.displayName && maxFireRate.weaponStats">
                <td class="font-valorant">{{ maxFireRate.displayName }}</td>
                <td>{{ maxFireRate.weaponStats.fireRate }}</td>
                <td>{{ maxFireRate.shopData.category }}</td>
                <td class="p-0">
                    <div class="d-flex justify-content-center align-items-center w-100 p-1">
                        <img class="img-fluid" :src="maxFireRate.displayIcon" alt="Weapon image" />
                    </div>
                </td>
              </tr>
              <thead>
                <tr class="align-middle text-center font-valorant">
                <th scope="col" class="col-3">Weapon with least fire rate</th>
                <th scope="col" class="col-2">Fire rate</th>
                <th scope="col" class="col-3">Weapon Category</th>
                <th scope="col" class="col-4">Image</th>
                </tr>
              </thead>
                <tr class="align-middle text-center" v-if="minFireRate && minFireRate.displayName && minFireRate.weaponStats">
                <td class="font-valorant">{{ minFireRate.displayName }}</td>
                <td>{{ minFireRate.weaponStats.fireRate }}</td>
                <td>{{ minFireRate.shopData.category }}</td>
                <td class="p-0">
                  <div class="d-flex justify-content-center align-items-center w-100 p-1">
                        <img class="img-fluid" :src="minFireRate.displayIcon" alt="Weapon image" />
                    </div>
                </td>
              </tr>
    
            </tbody>
          </table>

          <table class="table table-dark table-striped-columns">
            <thead>
              <tr class="align-middle text-center font-valorant">
                <th scope="col" class="col-4">Role</th>
                <th scope="col" class="col-4">Percentage of agents</th>
                <th scope="col" class="col-4">Role's image</th>
              </tr>
            </thead>

            <tbody>
              <tr class="align-middle text-center" v-for="roleData in rolesArray" :key="roleData.role">
                <td class="font-valorant">{{ roleData.role }}</td>
                <td>{{ roleData.percentage }}%</td>
                <td  v-if="roleData.agents[0] && roleData.agents[0].role.displayIcon">
                  <img class="img-fluid" :src="roleData.agents[0].role.displayIcon" alt="Role image" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </main>
      <footer
        class="footer bg-rojoPrincipal d-flex flex-column justify-content-between"
      >
        <div class="w-100 h-50 text-center pt-5">
          <p class="fw-bold text-light fs-4">© Grupo 4 - Cohort 5 - 2024</p>
        </div>
        <div
          class="icontFoot d-flex justify-content-around text-decoration-none p-4 flex-wrap"
        >
        <a href="https://github.com/sagd27" target="_blank"
        ><img src="../media/gitIcon.png" alt="" />
        <p>sagd27</p></a
      ><a href="https://github.com/Boca117" target="_blank"
        ><img src="../media/gitIcon.png" alt="" />
        <p>Boca117</p></a
      ><a href="https://github.com/estefanymontilva" target="_blank"
        ><img src="../media/gitIcon.png" alt="" />
        <p>estefanymontilva</p></a
      ><a href="https://github.com/Jlorduyz" target="_blank"
        ><img src="../media/gitIcon.png" alt="" />
        <p>Jlorduyz</p></a
      ><a href="https://github.com/TI-Angel" target="_blank"
        ><img src="../media/gitIcon.png" alt="" />
        <p>TI-Angel</p></a
      >
        </div>
      </footer>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../js/stats.js"></script>
  </body>
</html>
