.bg-image-details {
    background-image: url(../media/bgDetailsAgents.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.iconAbilities {
    height: 45px;
  }

.contenedor li, h3{
    filter: drop-shadow(1px 16px 5px black);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.popover-content {
    z-index: 999; 
    white-space: wrap;
    position: absolute;
    top: 50%; 
    left: 20%;
    transform: translateY(-50%);
    background-color: rgba(25, 24, 24, 0.8);
    padding: 10px;
    border-radius: 8px;
  }

  .popover-content::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -14px; /* Asegura que la flecha esté justo a la izquierda del popover */
    transform: translateY(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: transparent rgba(25, 24, 24, 0.9) transparent transparent; /* Flecha apuntando hacia la izquierda */
  }
  