* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
@font-face {

  font-family: "Valorant";
  src: url(../font/Valorant\ Font.ttf);
}
.font-valorant {
  font-family: Valorant;
}
.textNav li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: bold;
}
.icontFoot a img {
  height: 45px;
}
.icontFoot a {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  font-size: 1.2rem;
  gap: 15px;
  font-weight: bold;
  width: 310px;
  padding-top: 10px;
  &:nth-child(2n) {
    color: black;
  }
}
.icontFoot a p {
  margin: 0px;
  padding-top: 7px;
}
.bg-image {
  background-image: url(../media/bgImage.png);
  background-position: center;
  object-fit: cover;
}
.navIcon {
  max-height: 50px;
}
.grisPrincipal {
  color: #101823;
}

.rojoPrincipal {
  color: #ff4654;
}

.sepia {
  color: #382f27;
}
.blanco {
  color: #ffffff;
}
.bg-grisPrincipal {
  background-color: #101823;
}

.bg-rojoPrincipal {
  background-color: #ff4654;
}

.bg-sepia {
  background-color: #382f27;
}
.bg-blanco {
  background-color: #ffffff;
}
.footer {
  width: 100%;
  min-height: 20%;
}
.header {
  width: 100%;
  height: 5%;
}

